@using Web_Resource;
<div class="card__menu" ng-show="(isLogin && session.userId==session.view_userId && tab==1)">
    <button id="card-menu-actions-{{item.companyId}}_1" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">keyboard_arrow_down</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="card-menu-actions-{{item.companyId}}_1">
        <li class="mdl-menu__item" ng-click="followCompany($index)">{{item.following == 1 ? "@Site.mnuUnFollowGroup" : "@Site.mnuFollowGroup"}}</li>
        <li class="mdl-menu__item" ng-click="unlinkCompany($index)" ng-show="!item.isMe">@Site.mnuUnLinkCompany</li>
    </ul>
</div>
<div class="mdl-card__title mdl-card--expand"></div>
<div class="mdl-card__actions">
    <a href="{{(item.profileCode==''|| item.following==0)?'#':'/'+item.profileCode}}">{{item.companyName}}</a>
    <span>{{item.countMember}} @Site.lblFollower{{(item.countMember==1)?'':'es'}}</span>
    <div class="card__action" ng-if="isLogin && session.userId==session.view_userId && tab==1">
        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="followCompany($index)"
                ng-attr-title="{{item.following == 1 ? '@Site.mnuUnFollowGroup' : '@Site.mnuFollowGroup'}}">
            <i class="material-icons">{{item.following == 1 ? "visibility" : "visibility_off"}}</i>
        </button>
    </div>
</div>

