@using Web_Resource;
@section header
{
    <title>@Web_Resource.Site.title</title>
}
@section style
{
}
@section script
{
    @Scripts.Render("~/js/account/changepassword")
}
<main class="mdl-layout__content" ng-controller="changePassCtrl">
    <div id="content" ng-cloak>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <form name="frmResetPass" ng-submit="submitResetPass()" novalidate>
                    <h4 class="mdl-dialog__title">@Site.titChangePass</h4>
                    <div ng-show="!Successfully && !HashExpired">
                        <div class="mdl-dialog__content">
                            <p>@Site.txtChangePass</p>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" id="txtPassOld" name="txtPassOld" ng-model="dataRP.passOld" ng-minlength="8" maxlength="20" data-required="true" untouch="frmResetPass.txtPassOld">
                                <label class="mdl-textfield__label" for="txtPassOld">@Site.lblInputOldPassword</label>
                                <span class="mdl-textfield__error" ng-show="frmResetPass.txtPassOld.$touched && frmResetPass.txtPassOld.$error.required">@Message.errorFieldRequired</span>
                                <span class="mdl-textfield__error" ng-show="frmResetPass.txtPassOld.$touched && frmResetPass.txtPassOld.$error.minlength">@String.Format(Message.errorNminlength, 8)</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" id="txtPassNew" name="txtPassNew" ng-model="dataRP.passNew" ng-minlength="8" maxlength="20" data-required="true" untouch="frmResetPass.txtPassNew">
                                <label class="mdl-textfield__label" for="txtPassNew">@Site.lblInputNewPassword</label>
                                <span class="mdl-textfield__error" ng-show="frmResetPass.txtPassNew.$touched && frmResetPass.txtPassNew.$error.required">@Message.errorFieldRequired</span>
                                <span class="mdl-textfield__error" ng-show="frmResetPass.txtPassNew.$touched && frmResetPass.txtPassNew.$error.minlength">@String.Format(Message.errorNminlength, 8)</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" id="txtPassNewR" name="txtPassNewR" ng-model="passNewR" ng-minlength="8" maxlength="20" data-required="true" untouch="frmResetPass.txtPassNewR">
                                <label class="mdl-textfield__label" for="txtPassNewR">@Site.lblInputRepeatPassword</label>
                                <span class="mdl-textfield__error" ng-show="frmResetPass.txtPassNewR.$touched && frmResetPass.txtPassNewR.$error.required">@Message.errorFieldRequired</span>
                                <span class="mdl-textfield__error" ng-show="frmResetPass.txtPassNewR.$touched && frmResetPass.txtPassNewR.$error.minlength">@String.Format(Message.errorNminlength, 8)</span>
                                <span class="mdl-textfield__error" ng-show="frmResetPass.txtPassNewR.$touched && IsMatch">@Message.errorPasswordDiferent</span>
                            </div>
                        </div>
                        <div class="mdl-dialog__actions" ng-show="!Successfully">
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                @Site.btnContinue
                            </button>
                        </div>
                    </div>
                    <div class="mdl-dialog__content" ng-show="Successfully && !HashExpired">
                        <p>@Site.txtChangePassSuccess</p>
                        <p>@Html.ActionLink(Site.lnkGoWall, "Index", "Wall", "http", HttpContext.Current.Request.Url.Host, null, null, new { title = Site.lnkGoWall, alt = Site.lnkGoWall })</p>
                    </div>
                    <div class="mdl-dialog__content" ng-show="HashExpired">
                        <p>@Site.txtChangePassExpired</p>
                        <p>
                            <a href="javascript:void(0)" ng-click="showDialog()" title="@Site.lnkChangePassSendMail">@Site.lnkChangePassSendMail</a><br/>
                            @Html.ActionLink(Site.lnkGoWall, "Index", "Wall", "http", HttpContext.Current.Request.Url.Host, null, null, new { title = Site.lnkGoWall, alt = Site.lnkGoWall })
                        </p>
                    </div>
                </form>
            </div>
            <div class="mdl-cell mdl-cell--3-col"></div>
        </div>
    </div>
</main>

